.banner {

    height: 60vh;
    position: relative;
    background: url("https://a0.muscache.com/im/pictures/5998210c-3dd8-456a-8805-2a044ede1d5e.jpg?im_w=1200&quot") center center;
    background-size: cover; 
    z-index: 3; 
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner__infoContainer {
    
    color:white;
    padding-left: 50px;
    padding-right: 50px;
    width:300px;
    height: 54.4vh;
}

.banner__info {
    padding-top: 15vh;
}

.banner__info > button {
    background-color: #ff7779;
    color:white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__smallSearch {
    display:flex;
    position: absolute;
    top: 35px;
    z-index: 10;
}


@media (min-width: 610px) {
    .banner__infoContainer{
       background-color: black; 
    }
    .banner__smallSearch {
        display: none;
    }
}

@media (max-width: 610px) {
    
    .banner__infoContainer {
        display: inline;
        text-align: center;
        text-shadow: 2px 2px 4px #000000;
    }

    .banner__info{
        padding-left: 3vw;
        padding-right: 3vw;
    }


    .banner__bigSearch {
        display:none;
    }
}


