.searchResult {
    display:flex;
    position: relative;
    margin: 0 20px 20px 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    opacity: 1;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart {
    position:absolute;
    top: 20px;
    right: 40px;
}


.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop >h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResult__star {
    color: red;
}

.searchResult__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.searchResult__price > p {
    text-align: right;
}


@media(min-width: 701px) {
    .searchResult__infoMobile{
        display: none;
    }
}



@media(max-width: 700px) {
    .searchResult{
        flex-direction: column;
        width: 350px;
        margin: 0;
        
    }

    .searchResult__info {
        padding-left: 0;

    }

    .searchResult__infoTop{
        width: inherit;
        font-size: 14px;
    }

    .searchResult__infoTop > p {
        display: none;
    }

    .searchResult__heart {
        top: 25px;
        left:25px;
        color: white;
    }

   .searchResult__infoBottom{
       display: none;
   }

   .searchResult__infoMobile{
       font-size: 10px;
   }

}

@media(max-width:440px) {
    .searchResult{
        width: 250px;
    }

    .searchResult > img {
        width: 250px;
    }

    .searchResult__infoTop > h3{
        width: 250px;
    }
}
